{% extends 'jewels/main.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Cliente: {{ customer.name }}</h5>
                    <hr>
                    <a class="btn btn-outline-info btn-sm btn-block"href="{% url 'update_customer' customer.id %}">Actualizar cliente</a>
                    <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'create_order' customer.id %}">Realizar pedido</a>
                </div>
            </div>

            <div class="col-md">
                <div class="card card-body">
                    <h5>Información de contacto</h5>
                    <hr>
                    <p>Email: {{ customer.email }}</p>
                    <p>Teléfono: {{ customer.phone }}</p>
                    <p>Dirección: {{ customer.address }}</p>
                </div>
            </div>

            <div class="col-md">
                <div class="card card-body">
                    <h5>Pedidos del cliente</h5>
                    <hr>
                    <h1 style="text-align: center; padding: 10px">{{ order_count }}</h1>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form action="" method="get">
                        {{ myFilter.form }}
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>Producto</th>
                            <th>Nota</th>
                            <th>Fecha Pedido</th>
                            <th>Estado</th>
                            <th>Actualizar</th>
                            <th>Borrar</th>
                        </tr>

                        {% for order in orders %}
                            <tr>
                                <td>{{ order.product }}</td>
                                <td>{{ order.note }}</td>
                                <td>{{ order.date_created }}</td>
                                <td>{{ order.status }}</td>
                                <td><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-info">Actualizar</a></td>
                                <td><a href="{% url 'delete_order' order.id %}" class="btn btn-sm btn-danger">Borrar</a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
